@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Indie+Flower&family=Open+Sans:wght@500&display=swap");

body {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c9ae4",endColorstr="#000000",GradientType=1);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.itchio_footer {
  display: none !important;
}
